*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#fundo{
    position: relative;
    width: 90%;
    height: auto;
    background-color: bisque;
    margin: auto;
}

#cabecalho{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: verdana;
    padding: 20px;
    text-align: center;
    padding: 30px;
}

#nav-central{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #120796;
    color: white;
    font-size:40px;
    font-family: verdana;
    text-align: justify;

}

#nav-esquerda{
    position: relative;
    width: 20%;
    height: 800px;
    background-color: #ccccaa;
    color: white;
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
    float: left;
}

section{
    position: relative;
    width: 60%;
    height: 800px;
    background-color: #fbcdfb;
    color: white;
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
    float: left;
}

#cabecalho_section{
    position: absolute;
    width: 95%;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 40px;
    font-family: verdana;
    text-align: center;
    top: 50px;
    left: 3%;
}

#central{
    position: absolute;
    width: 95%;
    height: 300px;
    background-color: #97671d;
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-align: center;
    top: 120px;
    left: 3%;
}

p{
    position: absolute;
    width: 95%;
    height: 150px;
    background-color: #fdeffe;
    color: black;
    font-size: 10px;
    font-family: Verdana;
    text-align: justify;
    top: 440px;
    left: 3%;
}

#inferior_esquerda{
    position: absolute;
    width: 30%;
    height: 190px;
    background-color: #666666;
    color: white;
    font-size: 50pxpx;
    font-family: Verdana;
    text-align: center;
    top: 600px;
    left: 3%;
}

#inferior_central{
    position: absolute;
    width: 30%;
    height: 190px;
    background-color: #666666;
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-align: center;
    top: 600px;
    left: 35.5%;
}

#inferior_direita{
    position: absolute;
    width: 30%;
    height: 190px;
    background-color: #666666;
    color: white;
    font-size: 50px;
    font-family: Verdana;
    text-align: center;
    top: 600px;
    left: 68%;
}

aside{
    position: relative;
    width: 20%;
    height: 800px;
    background-color: #f930fa;
    color: white;
    font-size: 40px;
    font-family: Verdana;
    text-align: center;
    float: left;
}

footer{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 60px;
    font-family: Verdana;
    padding: 10px;
    text-align: center;
    clear: left;
}